 body{
    background-color: rgb(236, 159, 175);
}
 #menu {
    display:flex ;
    justify-content: flex-end;
   list-style-type: none;
   background-color:rgb(255, 255, 255) ;
   height: 30px;
}
#menu li{
 text-align: center;
 padding: 10px;
}
 #menu li a{
 text-decoration: none;
 color:rgb(246, 243, 245);
}
#menu li a:hover {
   font-size: 1.1em;
   color: rgb(136, 42, 165);
}

.linha-titulo{
    background-color: rgb(255, 255, 255);
    border: palevioletred 5px solid;
    }
.linha-corpo{
    background-color:rgb(255, 255, 255);
}
 